.header {
	display: flex;
	min-height: 100px;
	padding: 0px 20px 0px 0px;
	border: solid #a4acad;
	border-width: 0px 0px 1px 0px;
}
.contact {
	font-weight: 500;
	min-width: 225px;
	text-align: center;
	padding: 8px 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.title {
	font-size: 18px;
	line-height: 22px;
}
.number {
	color: #ff9846;
	font-size: 18px;
	line-height: 100%;
	margin: 5px 0px 0px 0px;
}
.number:first-child {
	margin: 0px 0px 0px 0px;
}
.time {
	font-size: 14px;
	color: #a4acad;
	line-height: 17px;
}
.city {
	color: #a4acad;
	font-weight: 300;
	cursor: pointer;
	font-size: 14px;
	line-height: 17px;
	padding: 0px 13px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: solid #a4acad;
	border-width: 0px 0px 0px 1px;
}

.city div {
	color: #000000;
	font-size: 18px;
	margin: 3px 0px 0px 0px;
	line-height: 22px;
}
.links {
	display: flex;
	margin: 0px 0px 0px auto;
}
.link {
	font-size: 18px;
	display: flex;
	align-items: center;
	line-height: 22px;
	margin: 0px 10px 0px 0px;
	padding: 0px 10px;
}
